 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
 /*common css starts*/

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 .clr {
     clear: both;
 }

 ul {
     list-style: none;
 }

 a {
     text-decoration: none;
 }

 .full-warpper {
     width: 100%;
 }

 .container {
     width: 1170px;
     margin: 0 auto;
 }

 :root {
     --hf: 'Akaya Kanadaka', cursive;
     ;
     --mf: 'Open Sans', sans-serif;
 }

 /*common css ends*/

 .heading {
     margin: 0 auto;
     width: 230px;
 }

 .heading h2 {
     text-align: center;
     font-family: 'Great Vibes', cursive;
     font-weight: 400;
     font-size: 30px;
     color: #ff5f83;
     text-transform: capitalize;
     padding-bottom: 5px;
     cursor: pointer;
 }

 .heading .bar_animate {
     position: relative;
 }

 .heading .bar_animate .music_bar1 {
     width: 3px;
     height: 30px;
     background: #ff5f83;
     position: absolute;
     top: 0;
     left: 44%;
     transform: translatex(-44%);
     animation: dance1 linear 0.5s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
 }

 @keyframes dance1 {
     0% {
         height: 0px;
     }

     100% {
         height: 8px;
     }
 }

 .heading .bar_animate .music_bar2 {
     width: 3px;
     height: 30px;
     background: #ff5f83;
     position: absolute;
     top: 0;
     left: 46%;
     transform: translatex(-46%);
     animation: dance2 linear 0.5s;
     animation-iteration-count: infinite;
     animation-direction: alternate-reverse;
 }

 @keyframes dance2 {
     0% {
         height: 0px;
     }

     100% {
         height: 10px;
     }
 }

 .heading .bar_animate .music_bar3 {
     width: 3px;
     height: 30px;
     background: #ff5f83;
     position: absolute;
     top: 0;
     left: 48%;
     transform: translatex(-48%);
     animation: dance4 linear 0.5s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
 }

 @keyframes dance3 {
     0% {
         height: 0px;
     }

     100% {
         height: 8px;
     }
 }

 .heading .bar_animate .music_bar4 {
     width: 3px;
     height: 30px;
     background: #ff5f83;
     position: absolute;
     top: 0;
     left: 50%;
     transform: translatex(-50%);
     animation: dance4 linear 0.5s;
     animation-iteration-count: infinite;
     animation-direction: alternate-reverse;
     ;
 }

 @keyframes dance4 {
     0% {
         height: 0px;
     }

     100% {
         height: 10px;
     }
 }

 .heading .bar_animate .music_bar5 {
     width: 3px;
     height: 30px;
     background: #ff5f83;
     position: absolute;
     top: 0;
     left: 52%;
     transform: translatex(-52%);
     animation: dance5 linear 0.5s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
 }

 @keyframes dance5 {
     0% {
         height: 0px;
     }

     100% {
         height: 15px;
     }
 }

 .heading .bar_animate .music_bar6 {
     width: 3px;
     height: 30px;
     background: #ff5f83;
     position: absolute;
     top: 0;
     left: 54%;
     transform: translatex(-54%);
     animation: dance6 linear 0.5s;
     animation-iteration-count: infinite;
     animation-direction: alternate-reverse;
 }

 @keyframes dance6 {
     0% {
         height: 0px;
     }

     100% {
         height: 20px;
     }
 }

 .heading .bar_animate .music_bar7 {
     width: 3px;
     height: 30px;
     background: #ff5f83;
     position: absolute;
     top: 0;
     left: 56%;
     transform: translatex(-56%);
     animation: dance7 linear 0.5s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
 }

 @keyframes dance7 {
     0% {
         height: 0px;
     }

     100% {
         height: 22px;
     }
 }

 .heading .bar_animate .music_bar8 {
     width: 3px;
     height: 30px;
     background: #ff5f83;
     position: absolute;
     top: 0;
     left: 58%;
     transform: translatex(-58%);
     animation: dance8 linear 0.5s;
     animation-iteration-count: infinite;
     animation-direction: alternate-reverse;
 }

 @keyframes dance8 {
     0% {
         height: 0px;
     }

     100% {
         height: 25px;
     }
 }

 /* common heading css end*/

 /*space css*/
 .mb-20 {
     margin-bottom: 20px;
 }

 .mb-30 {
     margin: 30px;
 }

 .mr-30px {
     margin-right: 30px;
 }

 .ml-30 {
     margin-left: 30px;
 }

 /*menu starts*/
 .menu-bg {
     position: absolute;
     top: 0px;
     left: 0;
     z-index: 1;

 }

 .menu-bg .menu {}

 .menu-bg .menu .logo {
     width: 200px;
     float: left;
     margin-top: 10px;
 }

 .menu-bg .menu .logo img {
     width: 100%;
     vertical-align: middle;
 }

 .menu-bg .menu .menu-list {
     width: 970px;
     float: left;
     margin-top: 30px;
 }

 .menu-bg .menu .menu-list ul {
     float: right;
 }

 .menu-bg .menu .menu-list ul li {
     display: inline-block;
     padding: 20px;
 }

 .menu-bg .menu .menu-list ul li .active {
     color: #ff5f83;
 }

 .menu-bg .menu .menu-list ul li a {
     font-family: var(--hf);
     font-weight: 400;
     color: #fff;
     font-size: 16px;
     text-transform: uppercase;
     position: relative;
     z-index: -2;

 }

 .menu-bg .menu .menu-list ul li:hover a {
     color: #ff5f83;
 }

 .menu-bg .menu .menu-list ul li:hover a::after {
     content: '';
     width: 100%;
     height: 10px;
     background: url(../images/menu.png)no-repeat center / auto;
     position: absolute;
     bottom: -15px;
     left: 0;
     z-index: 2;
 }

 /*menu ends*/
 /*banner starts*/
 .banner-bg {
     background: url(../images/01_Home_Page.jpg);
     padding-top: 300px;
     padding-bottom: 250px;
     position: relative;
     z-index: -1;
     position: relative;
 }

 .banner-bg::before {
     content: '';
     width: 100%;
     height: 1px;
     background: #c5929d;
     position: absolute;
     top: 90px;
     left: 0;

 }

 .banner-bg::after {
     content: '';
     width: 100%;
     height: 93%;
     background: rgba(0, 0, 0, 0.603);
     position: absolute;
     top: 0px;
     left: 0;

 }

 .banner-bg .banner {
     position: relative;
 }

 .banner-bg .banner .content {
     text-align: center;

 }

 .banner-bg .banner .content h4 {
     font-family: var(--hf);
     font-weight: 400;
     color: #fff;
     font-size: 60px;
     text-transform: capitalize;

 }

 .banner-bg .banner .content h4 span {
     font-family: var(--hf);
     font-weight: 400;
     color: #c92549;
     font-size: 60px;
     text-transform: capitalize;

 }

 .banner-bg .banner .content h5 {
     font-family: var(--hf);
     font-weight: 400;
     color: #fff;
     font-size: 22px;
     text-transform: capitalize;

 }

 .banner-bg .banner .content a {
     color: #fff;
     background: #ff5f83;
     padding: 5px 10px;
     font-family: var(--hf);
     font-weight: 700;
     font-size: 20px;
     position: absolute;
     bottom: -50px;
     left: 550px;
 }

 .banner-bg .banner .content p {
     font-family: var(--hf);
     font-weight: 400;
     color: #fff;
     font-size: 14px;
     line-height: 14px;
     padding: 0 320px;
     margin-top: 20px;


 }

 .banner-bg .banner .content img {
     position: absolute;
     bottom: -170px;
     left: 557px;
 }

 .banner-bg .icon {
     color: rgb(67, 218, 75);
     width: 40px;
     height: 40px;
     position: absolute;
     bottom: 10px;
     left: 40px;
     z-index: 999;
 }

 .banner-bg img {
     position: absolute;
     bottom: 0;
     left: 0;
 }

 /*banner ends*/
 /*about starts*/
 .about-bg {
     padding-top: 80px;
     background: #111111;
 }

 .about-bg .about .content-about {
     text-align: center;

     padding-bottom: 80px;
 }

 .about-bg .about .content-about .iteam1 {
     width: 270px;
     float: left;
 }

 .about-bg .about .content-about .iteam2 {
     width: 570px;
     float: left;
     margin: 0 30px;
     color: #fff;
 }

 .about-bg .about .content-about .iteam2 h4 {
     font-family: var(--mf);
     font-weight: 400;
     color: #fff;
     font-size: 22px;
     padding-bottom: 10px;
 }

 .about-bg .about .content-about .iteam2 img {

     padding-bottom: 20px;
 }

 .about-bg .about .content-about .iteam2 p {
     font-family: var(--mf);
     font-weight: 400;
     color: #fff;
     font-size: 14px;
     line-height: 14px;
     padding-bottom: 20px;
 }

 .about-bg .about .content-about .iteam2 a {
     font-family: var(--mf);
     font-weight: 400;
     color: #fff;
     font-size: 16px;
     line-height: 14px;
     background: #a71434;
     padding: 10px;
     position: absolute;
     bottom: -87px;
     left: 256px;
 }

 .about-bg .about .content-about .iteam1 {
     width: 270px;
     float: left;
 }

 /*about ends*/
 /*gallery starts*/
 .gallery-bg {
     background: url(../images/abp1.jpg)no-repeat center / cover;
     padding-bottom: 80px;
     padding-top: 30px;
     position: relative;
     z-index: 1;
 }

 .gallery-bg::after {
     content: '';
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.904);
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
 }

 .gallery-bg .gallery {
     text-align: center;
 }

 .gallery-bg .gallery .heading {
     text-align: center;
     padding-bottom: 30px;
 }

 .gallery-bg .gallery .heading h4 {
     font-family: var(--mf);
     font-weight: 400;
     color: #fff;
     font-size: 22px;
     padding-bottom: 10px;
 }

 .gallery-bg .gallery .content {
     background: rgb(98, 175, 21);
 }

 .gallery-bg .gallery .content .iteam1 {
     width: 570px;
     float: left;
     position: relative;
     overflow: hidden;
 }

 .gallery-bg .gallery .content .iteam1 .overlay {

     width: 100%;
     height: 100%;
     background: #ff5f8288;
     position: absolute;
     top: -100%;
     left: 0;
     text-align: center;
     transition: all linear 0.3s;
     -moz-transition: all linear 0.3s;
 }

 .gallery-bg .gallery .content .iteam1:hover .overlay {
     top: 0;
 }

 .gallery-bg .gallery .content .iteam1 .overlay i {
     width: 40px;
     height: 40px;
     color: #ff5f8288;
     border: 1px solid #fff;
     border-radius: 50%;
     line-height: 40px;
     margin-top: 25%;
 }

 .gallery-bg .gallery .content .iteam2 {
     width: 285px;
     float: left;
     margin: 0 15px;
     position: relative;
     overflow: hidden;
 }

 .gallery-bg .gallery .content .iteam2 .overlay {

     width: 100%;
     height: 100%;
     background: #ff5f8288;
     position: absolute;
     top: -100%;
     left: 0;
     text-align: center;
     transition: all linear 0.3s;
     -moz-transition: all linear 0.3s;
 }

 .gallery-bg .gallery .content .iteam2:hover .overlay {
     top: 0;
 }

 .gallery-bg .gallery .content .iteam2 .overlay i {
     width: 40px;
     height: 40px;
     color: #ff5f83;
     border: 1px solid #fff;
     border-radius: 50%;
     line-height: 40px;
     margin-top: 50%;
 }

 .gallery-bg .gallery .content .iteam3 {
     width: 285px;
     float: left;
     position: relative;
     overflow: hidden;
 }

 .gallery-bg .gallery .content .iteam3 .overlay {

     width: 100%;
     height: 100%;
     background: #ff5f8288;
     position: absolute;
     top: -100%;
     left: 0;
     text-align: center;
     transition: all linear 0.3s;
     -moz-transition: all linear 0.3s;
 }

 .gallery-bg .gallery .content .iteam3:hover .overlay {
     top: 0;
 }

 .gallery-bg .gallery .content .iteam3 .overlay i {
     width: 40px;
     height: 40px;
     color: #ff5f8288;
     border: 1px solid #fff;
     border-radius: 50%;
     line-height: 40px;
     margin-top: 25%;
 }

 .gallery-bg .gallery .content .iteam3 img {
     width: 100%;
     height: 100%;
     vertical-align: middle;
 }

 .gallery-bg .gallery > a {

     background: #c92549;
     color: #fff;
     display: inline-block;
     margin-top: 30px;
     padding: 10px 25px;

 }


 /*gallery ends*/
 /*events starts*/
 .events-bg {
     padding-top: 50px;
     background: #111111;
     padding-bottom: 50px;
 }

 .events-bg .events .heading {
     padding-bottom: 50px;
 }

 .events-bg .events .events-content .events-iteam {
     position: relative;
     width: 210px;
     box-sizing: content-box;
     overflow: hidden;
     float: left;
 }

 .events-bg .events .events-content .events-iteam .overlay {

     width: 80%;
     height: 100%;
     background: #ff5f8288;
     position: absolute;
     top: -100%;
     left: 0;
     text-align: center;
     transition: all linear 0.3s;
     -moz-transition: all linear 0.3s;

 }

 .events-bg .events .events-content .events-iteam:hover .overlay {
     top: 0;
 }

 .events-bg .events .events-content .events-iteam .overlay i {
     width: 40px;
     height: 40px;
     color: #ff5f83;
     border: 1px solid #fff;
     border-radius: 50%;
     line-height: 40px;
     margin-top: 25%;
 }

 /*events ends*/
 /*upcoming starts*/
 .upcoming-bg {
     background: rgba(0, 0, 0, 0.904);

 }

 .upcoming-bg .upcoming .heading {
     text-align: center;
     padding-bottom: 40px;
 }

 .upcoming-bg .upcoming .heading h4 {
     font-family: var(--mf);
     font-weight: 400;
     color: #fff;
     font-size: 22px;
     padding-bottom: 10px;
     font-family: var(--mf);
     font-weight: 400;
     color: #fff;
     font-size: 22px;
     padding-bottom: 10px;
 }

 .upcoming-bg .main-slider {
     background: url(../images/bl1.jpg)no-repeat center / cover;
     position: relative;
     z-index: 1;
 }

 .upcoming-bg .main-slider::after {
     content: '';
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.904);
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
 }

 .upcoming-bg .main-slider .image-slider {
     width: 570px;
     float: left;
     margin-right: 30px;
 }

 .upcoming-bg .main-slider .text-slider {
     width: 570px;
     float: left;
 }

 .upcoming-bg .main-slider .text-slider .text-iteam h5 {
     font-family: var(--mf);
     font-weight: 400;
     color: #fff;
     font-size: 16px;
     text-transform: uppercase;
 }

 .upcoming-bg .main-slider .text-slider .text-iteam h6 {
     font-family: var(--mf);
     font-weight: 400;
     color: #fff;
     font-size: 10px;
     padding: 10px 0;
 }

 .upcoming-bg .main-slider .text-slider .text-iteam p {
     font-family: var(--hf);
     font-weight: 400;
     color: #fff;
     font-size: 12px;
     line-height: 12px;
     padding-bottom: 30px;
 }

 .upcoming-bg .main-slider .text-slider .text-iteam span {
     font-family: var(--mf);
     font-weight: 400;
     color: #fff;
     font-size: 10px;
     margin-right: 100%;

 }

 .upcoming-bg .main-slider .text-slider .text-iteam ul li {
     display: inline-block;
 }

 .upcoming-bg .main-slider .text-slider .text-iteam a {
     float: left;
     color: #c92549;
     text-transform: uppercase;
     background: #fff;
     width: 70px;
     height: 70px;
     border-radius: 100%;
     text-align: center;
     margin-right: 20px;
     line-height: 70px;
     margin-top: 30px;
     margin-bottom: 45px;
 }

 /*upcoming ends*/
 /*blog starts*/
 .blog-bg {
     background: #111111;
     padding-top: 80px;
     padding-bottom: 80px;
 }

 .blog-bg .blog {
     text-align: center;
 }

 .blog-bg .blog .heading {
     margin-bottom: 30px;
 }

 .blog-bg .blog .heading h4 {
     font-family: var(--mf);
     font-weight: 400;
     color: #fff;
     font-size: 22px;
     padding-bottom: 10px;
     font-family: var(--mf);
     font-weight: 400;
     color: #fff;
     font-size: 22px;
     padding-bottom: 10px;
 }

 .blog-bg .blog .blog-content {
     width: 370px;
     float: left;
 }

 .blog-bg .blog .blog-content .blog-iteam {
     width: 100%;
     position: relative;
     overflow: hidden;
 }

 .blog-bg .blog .blog-content .blog-iteam .overlay {
     width: 100%;
     height: 100%;
     background: #ff5f8288;
     position: absolute;
     top: -100%;
     left: 0;
     text-align: center;
     transition: all linear 0.3s;
     -moz-transition: all linear 0.3s;

 }

 .blog-bg .blog .blog-content .blog-iteam:hover .overlay {
     top: 0;
 }

 .blog-bg .blog .blog-content .blog-iteam .overlay i {
     width: 40px;
     height: 40px;
     color: #ff5f83;
     border: 1px solid #fff;
     border-radius: 50%;
     line-height: 40px;
     margin-top: 100px;
 }

 .blog-bg .blog .blog-content .blog-text h5 {
     font-family: var(--mf);
     font-weight: 400;
     color: #fff;
     font-size: 16px;
     margin-top: 30px;
 }

 .blog-bg .blog .blog-content .blog-text h6 {
     font-family: var(--mf);
     font-weight: 400;
     color: #fff;
     font-size: 10px;
     padding: 10px 0;
 }

 .blog-bg .blog .blog-content .blog-text p {
     font-family: var(--hf);
     font-weight: 400;
     color: #fff;
     font-size: 16px;
     line-height: 16px;
     padding-bottom: 10px;
     margin-top: 30px;
 }

 .blog-bg .blog a {
     color: #fff;
     display: inline-block;
     padding: 10px 25px;

 }

 .blog-bg .blog a spane {
     background: #c92549;
     display: inline-block;
     padding: 10px 25px;
     text-transform: capitalize;
     cursor: pointer;
 }

 /*blog ends*/